@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@500;900&family=Roboto+Mono:wght@400&display=swap');


body {
    background-color: var(--bg-color);
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.content {
    align-items: center;
    display: grid;
    gap: 2rem;
    grid-auto-flow: row;
    grid-template-rows: auto 1fr auto;
    max-width: 1000px;
    min-height: 90vh;
    padding: 2rem;
    width: 100%;
    z-index: 999;
}

.container {
    display: flex;
    justify-content: space-around;
}

.header {
    display: flex;
    gap: 0.5rem;
    user-select: none;
    justify-content: space-between;
    font-size: 2.3rem;
    grid-auto-flow: column;
    grid-template-areas: "logo menu config";
    grid-template-columns: auto 1fr auto;
    line-height: 2.3rem;
    padding: 0 5px;
    z-index: 2;

}

.logo {
    cursor: pointer;
    grid-template-columns: auto 1fr;
    white-space: nowrap;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    user-select: none;
    color: var(--main-color);
}

.icon {
    filter: var(--icon-color);
    align-items: center;
    background-color: transparent;
    display: grid;
    width: 3rem;
    margin-right: 10px;
}

div.text {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.words {
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    user-select: none;
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 7rem;

}

.word {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin: 0.37rem;
    color: var(--sub-color);
}


.keymap {
    font-family: 'Roboto Mono', monospace;
    display: grid;
    gap: 0.25rem;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    margin-top: 1rem;
    user-select: none;
    white-space: nowrap;
}

.row {
    gap: 0.25rem;
    height: 2rem;
}

.r1 {
    display: grid;
    grid-template-columns: .5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1rem;
}

.r2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.r3 {
    display: grid;
    grid-template-columns: .5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2.75fr;
}

.r4 {
    display: grid;
    font-size: .5rem;
    grid-template-columns: 3.5fr 6fr 3.5fr;
}

.keymap-key {
    align-items: center;
    background-color: transparent;
    border: 0.05rem solid;
    border-color: var(--sub-color);
    border-radius: 0.5rem;
    color: var(--sub-color);
    display: flex;
    height: 2rem;
    justify-content: center;
    position: relative;
    text-align: center;
    width: 2rem;
}

.space {
    width: 100%;
}

.caret {
    animation: caretFlashSmooth 1s infinite;
    opacity: 1;
    top: 0.2rem;
    left: 3px;
    width: 3px;
    height: 2rem;
    position: absolute;
    transform-origin: top left;
    background: var(--main-color);
    border-radius: 0.5rem;
}

@keyframes caretFlashSmooth {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}


.esc {
    background-color: var(--sub-color);
    border-radius: 0.1rem;
    color: #2e1a47;
    padding-left: 3px;
    padding-right: 3px;
}

.footer {
    display: flex;
    flex-direction: column;
}


.footer_text {
    color: var(--sub-color);
    font-family: 'Roboto Mono', monospace;
    font-size: 0.85rem;
    font-weight: 1000;
    padding-bottom: 1rem;
    align-self: center;
}


.links {
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
}

.link {
    color: var(--sub-color);
    font-family: 'Roboto Mono', monospace;
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 900;
    cursor: pointer;
}

.link:hover {
    color: var(--main-color);
}


.settings_button {
    /* color: #a4dbe8; */
    padding-left: 30px;
}


.menu {
    padding-left: 30px;
    display: grid;
    font-size: 55%;
    gap: 0.5rem;
    grid-auto-flow: column;
    line-height: 1rem;
    width: fit-content;
}

.timer_menu {
    font-family: 'Roboto Mono', monospace;
    color: var(--sub-color);
    display: flex;

}

.timer {
    font-family: 'Roboto Mono', monospace;
    color: var(--main-color);
    user-select: none;
    font-size: 1.5rem;
}


.timer_button {
    cursor: pointer;
    font-size: 1.25rem;
    /* line-height: 2rem; */
    padding: 0 0.5rem;
}

.timer_button.active {
    color: var(--main-color);
}

i {
    cursor: pointer;
    color: var(--sub-color)
}

.themes_title {
    font-family: 'Roboto Mono', monospace;
    color: var(--main-color);
    margin-bottom: 5%;
    font-size: 1.5rem;
    height: 2rem;
    user-select: none;
    margin: 20px;
    text-align: center;
}

.themes {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr;
    justify-content: center;
}


.settings {
    align-items: center;
    display: flex;
    gap: 1rem;
    grid-auto-flow: column;
    justify-content: space-around;
}

.theme {
    align-content: center;
    appearance: none;
    background: var(--sub-alt-color);
    border-radius: 20px;
    color: var(--main-color);
    cursor: pointer;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5rem;
    height: min-content;
    height: -moz-min-content;
    line-height: 1.25rem;
    padding: 0.5rem;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    width: 15rem;

    /* user-select: none;
    cursor: pointer;
    margin: 20px;
    font-family: 'Roboto Mono', monospace;
    background-color: var(--sub-alt-color);
    font-size: 1.5rem;
    height: 2rem;
    width: 100%;
    border-radius: 20px;
    text-align: center; */
}


.register {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr;
    justify-content: center;
}

.register_button {
    align-content: center;
    appearance: none;
    background: var(--sub-alt-color);
    border-radius: 20px;
    color: var(--main-color);
    cursor: pointer;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5rem;
    height: min-content;
    height: -moz-min-content;
    line-height: 1.25rem;
    padding: 0.5rem;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
}

input {
    background: var(--sub-alt-color);
    border: none;
    border-radius: 20px;
    caret-color: var(--main-color);
    color: var(--sub-color);
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    outline: none;
    padding: 0.5rem;
    width: 15rem;
    text-align: center;
}

input::placeholder {
    color: var(--sub-color);
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5rem;
}

.register_title {
    font-family: 'Roboto Mono', monospace;
    color: var(--main-color);
    margin-bottom: 5%;
    font-size: 1.5rem;
    height: 2rem;
    user-select: none;
    margin: 20px;
    text-align: center;
}

.login {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr;
    justify-content: center;
}

.login_title {
    font-family: 'Roboto Mono', monospace;
    color: var(--main-color);
    margin-bottom: 5%;
    font-size: 1.5rem;
    height: 2rem;
    user-select: none;
    margin: 20px;
    text-align: center;
}

.login_button {
    align-content: center;
    appearance: none;
    background: var(--sub-alt-color);
    border-radius: 20px;
    color: var(--main-color);
    cursor: pointer;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5rem;
    height: min-content;
    height: -moz-min-content;
    line-height: 1.25rem;
    padding: 0.5rem;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
}

.header_mobile_menu {
    display: none;
}

#icon_with_text {
    display: flex;
}

.mobile_timer_menu_wrapper {
    background: rgba(0, 0, 0, .75);
    justify-content: center;
    left: 0;
    padding: 2rem 0;
    position: fixed;
    top: 0;
    z-index: 1000;
    align-items: center;
    display: grid;
    height: 100%;
    width: 100%;
}

.mobile_timer_menu {
    background: var(--sub-alt-color);;
    border-radius: 20px;
    display: grid;
    gap: 1rem;
    max-width: 400px;
    padding: 1rem;
    width: calc(100vw - 2rem);
}

.mobile_timer_button {
    font-size: 1.5rem;
    color: var(--sub-color);
    align-content: center;
    appearance: none;
    background: var(--bg-color);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: inherit;
    height: min-content;
    height: -moz-min-content;
    line-height: 1.25rem;
    padding: 0.5rem;
    text-align: center;
    user-select: none;
    font-family: 'Roboto Mono', monospace;
}

.mobile_timer_button.active {
    color: var(--main-color);
}

.mobile_timer_title {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5rem;
    color: var(--main-color);
    text-align: center;
}


/* .mobile_menu_wrapper {
    background: rgba(0,0,0,.75);
    justify-content: center;
    left: 0;
    padding: 2rem 0;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.mobile_menu {
    background: var(--bg-color);
    border-radius: var(--roundness);
    display: grid;
    gap: 1rem;
    max-width: 400px;
    padding: 1rem;
    width: calc(100vw - 2rem);
} */


@media only screen and (max-width: 550px) {
    .row {
        height: 1.25rem;
    }

    .keymap-key {
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 0.3rem;
        font-size: 0.6rem;
    }

    .space {
        width: 10rem;
    }


}


@media only screen and (max-width: 620px) {
    /* .header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    } */

    .logo {
        flex-direction: column;
    }

    #icon_with_text {
        align-self: flex-start;
    }

    .menu {
        align-self: baseline;
    }

    .timer_menu {
        display: none;
    }

    .themes {
        display: grid;
        gap: 0.5rem;
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .header_mobile_menu {
        display: grid;
        place-content: center center;
        align-items: unset;
    }
}


@media only screen and (max-width: 870px) {
    .settings {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 420px) {
    .keymap {
        display: none;
    }
}

@media only screen and (min-width: 620px) {
    .mobile_timer_menu_wrapper {
        display: none;
    }
}