:root {
    --bg-color: #333a45;
    --main-color: #f44c7f;
    --caret-color: #f44c7f;
    --sub-color: #939eae;
    --icon-color: invert(97%) sepia(3%) saturate(246%) hue-rotate(174deg) brightness(96%) contrast(97%);
    --sub-alt-color: #2e343d;

}